<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Company</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bb">
    <div class="container">
        <h3>Sorry no <%= page_name %> data for <%= company_name %> </h3>
        <a href="/portfolio">Back to Compaines</a>
    </div>
</body>
</html>
